.trial_main{
    color: white;
    text-align: center;
    margin-top: 200px;
    padding: 0px 200px;
}
body{
   overflow-x: hidden;
}

.trial_flex{
    display: flex;
    justify-content: space-between;
}