 body{
    background-color: black;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }
 .container {
    overflow: hidden;
    position: relative;
    top: -10px;
  }


  .try{
   color: rgb(241,100,86);
   padding: 10px;
   background-color: white;
   display: inline;
   font-size: large;
   margin-bottom: 30px;
   margin-left: 400px;
   border-radius: 10px;
   font-style: bold;
  }
 
.price_main{
   position:absolute;
   top: 550px;
   left: 300px;
 }


.cultpass_main{
   margin-top: 20px;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 20px;
}

.cultpass{
   padding: 30px;
   text-align: center;
   justify-content: center;
   border: 1px solid gray;
   border-radius: 10px;
   background-color: rgb(39,32,30);
}

.cultpass h2,h3{
   color: white;
   color: rgb(166,166,166);
}



