
body{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;

}
.style-prefix-jh2wmj {
    max-height: 82vh;
    position: relative;
}

.style-prefix-ysinle {
    visibility: initial;
    box-sizing: border-box;
    font-family: 'BrandonTextWeb-Regular';
}

.style-prefix-1uqknt7 {
    /* height: 100vh; */
    width: 100%;
    overflow: hidden;
    overflow-x: clip;
    height: 103vh;
    position: relative;
        height: 85%;
}

style-prefix-1cd8qih {
    position: absolute;
    z-index: 2;
    width: 100%;
    /* height: 100%; */
    height: 85%;
    display: flex;
    overflow: hidden;
}

.style-prefix-1glq797 {
    margin: auto auto 275px;
    z-index: 5;
    transition: all 1s ease 0s;
    /* width: 500px; */
    opacity: 1;
    transform: translateY(0px);
    margin-bottom: 275px;
    width: 250px;
}
.style-prefix-1a5h5uo {
    width: 100%;
    min-height: fit-content;
    overflow: hidden;
    position: relative;
}
.style-prefix-5blrfd {
    position: relative;
    opacity: 1;
    transition: opacity 150ms ease 0s;
    top: 0px;
    left: 0px;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}

.style-prefix-94kz4z {
    left: calc(50vw + 100px);
    bottom: 80px;
    position: absolute;
}

.style-prefix-94kz4z svg {
    width: 65vw;
    animation: 1250ms ease-in 0s 1 normal none running animation-bnxbwd;
    opacity: 1;
}

.style-prefix-x6hql9 {
    left: calc(50vw + 100px);
    bottom: 132px;
    position: absolute;
}
.style-prefix-x6hql9 svg {
    animation: 1s ease-in 0s 1 normal none running animation-bnxbwd;
    opacity: 1;
    width: 65vw;
}

.style-prefix-4xpr05 {
    right: calc(50vw + 100px);
    bottom: 185px;
    position: absolute;
}
.style-prefix-4xpr05 svg {
    animation: 600ms linear 0s 1 normal none running animation-117bsan;
    opacity: 1;
    width: 65vw;
}
.style-prefix-qog5f7 {
    right: calc(50vw + 100px);
    bottom: 190px;
    position: absolute;
}
.style-prefix-qog5f7 svg {
    animation: 500ms ease-in 0s 1 normal none running animation-117bsan;
    opacity: 1;
    width: 65vw;
}
.style-prefix-r5pyry {
    position: absolute;
    width: 500px;
    left: 0px;
    right: 0px;
    bottom: 90px;
    margin: auto;
    transition: all 1s ease 0s;
    opacity: 1;
    transform: translateY(0px);
}

.style-prefix-1y1fwnj {
    text-align: center;
    cursor: default;
    margin: 0;
    color: white;
    font-size: 30px;
    font-family: Inter-Medium,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    letter-spacing: 0.01px;
    line-height: 38px;
    margin-bottom: 25px;
}
.style-prefix-dvxtzn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.style-prefix-1w9odhp {
    display: flex;
    margin: auto;
    justify-content: center;
}
.style-prefix-m8587r {
    cursor: pointer;
    font-family: Inter-Medium,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    border: 1px solid transparent;
    transition: all 250ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    font-size: 14px;
    line-height: 14px;
    border-radius: 5px;
    padding: 11.5px 20px;
    font-weight: 700;
}

.style-prefix-nw17jr {
    width: 22px;
    min-height: fit-content;
    overflow: hidden;
    position: absolute;
    margin-top: 65px;
    cursor: pointer;
}
.style-prefix-5blrfd {
    position: relative;
    opacity: 1;
    transition: opacity 150ms ease 0s;
    top: 0px;
    left: 0px;
    width: 100%;
}
.style-prefix-1sz2msd {
    transform-style: preserve-3d;
    will-change: transform;
}
.style-prefix-16i193b {
    display: block;
    width: 100%;
    transition: opacity 600ms ease 0s;
    position: relative;
    object-fit: cover;
    height: 100vh;
    will-change: transform;
    opacity: 1;
}
.style-prefix-1fu3ajj {
    width: 100%;
    min-height: fit-content;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}
.style-prefix-5blrfd {
    position: relative;
    opacity: 1;
    transition: opacity 150ms ease 0s;
    top: 0px;
    left: 0px;
    width: 100%;
}




.style-prefix-4xpr05 {
    right: calc(50vw + 140px);
    bottom: 300px;
    position: absolute;
    visibility: initial;
    font-family: 'BrandonTextWeb-Regular';
}
.style-prefix-4xpr05 svg {
    width: 700px;
    animation: 600ms linear 0s 1 normal none running animation-117bsan;
    animation-duration: 600ms;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name:animation-117bsan;
    visibility: initial;
    opacity: 1;
}

